.container {
  display: grid;
  grid-template-columns: 75.9rem 1fr;
  align-items: center;
  gap: var(--spacing-9);

  height: 100vh;
  padding: calc(var(--spacing-12) * 2) var(--spacing-11) var(--spacing-12) var(--spacing-11);
}

.img {
  width: 70rem;
  height: 58.3rem;
  background-color: #444;

  border-radius: var(--boarder-radius);
}

.heading {
  margin-bottom: var(--spacing-8);
  text-transform: uppercase;
}
