.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: var(--spacing-9);
}

.img {
  height: 58.3rem;
  background-color: #444;

  border-radius: var(--boarder-radius);
}

.heading {
  margin-bottom: var(--spacing-8);
  text-transform: uppercase;
}
