.h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-xxl);
  font-family: 'Lora', serif;
  text-transform: uppercase;
}

.h3 {
  font-family: 'Lora', serif;
  text-transform: uppercase;
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--spacing-6);
}

.p {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}

.textDark {
  color: var(--color-text-dark);
}

.textLight {
  color: var(--color-text-light);
}
