.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-11);
}

.imgContainer {
  height: 500px;
  width: 500px;
}
.imgContainer img {
  max-width: 100%;
}
