.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-10);

  padding: 0 var(--spacing-12);

  height: 100%;
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  gap: calc(var(--spacing-12) * 1.5);
  row-gap: var(--spacing-6);

  width: 100%;
}

.message {
  grid-column: span 2;
}
