.container {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-9);
}

.content {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: calc(var(--spacing-11) * 2);
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-9);
  }
}
