@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 
        font-size: 16px; default
        font-size: 10px; what we Want
        10px / 16px = 0.625 = 62.5%
        Percentage of users´s font-size settings
    */

  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  font-family: 'Cormorant Unicase', serif;
  font-weight: var(--font-weight-regular);
  background-color: var(--color-background);
  color: var(--color-text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.text {
  margin-bottom: var(--spacing-6);

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.text:last-of-type {
  margin-bottom: var(--spacing-7);
}
