:root {
  --color-background: #faf3f4;
  --color-background-a80: rgba(250, 243, 244, 0.8);

  --color-text-dark: #1d0e07;
  --color-text-light: #fff;

  --color-prime: #cf8083;
  --color-prime-light: #f4cdce;
  --color-secondary: #4a2918;

  --font-size-xxl: 4rem;
  --font-size-xl: 3.2rem;
  --font-size-m: 1.6rem;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 500;
  --font-weight-regular: 600;

  --font-line-height-xxl: 40px;
  --font-line-height-xl: 36px;
  --font-line-height-m: 24px;

  --boarder-radius-m: 8px;
  --boarder-radius-s: 4px;

  --spacing-12: 12.8rem;
  --spacing-11: 9.6rem;
  --spacing-10: 8rem;
  --spacing-9: 6.4rem;
  --spacing-8: 4.8rem;
  --spacing-7: 3.2rem;
  --spacing-6: 2.4rem;
  --spacing-5: 1.6rem;
  --spacing-4: 1.2rem;
  --spacing-3: 0.8rem;
  --spacing-2: 0.4rem;
  --spacing-1: 0.2rem;

  --breakpoint-xl: 84em;
  --breakpoint-l: 75em;
  --breakpoint-m: 59em;
  --breakpoint-s: 44em;
  --breakpoint-xs: 34em;
}
