:root {
  --animation-duration: 500ms;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-8);
  height: 100%;
  width: 100%;
}

.carousel {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
  border-radius: var(--boarder-radius);

  overflow: hidden;
}

.carouselContent {
  position: relative;
  height: 100%;
  width: 100%;
}

.item {
  position: absolute;
  inset: 1;
  height: 100%;
  width: 100%;
  opacity: 0;

  transition: var(--animation-duration) all var(--animation-duration) ease-in-out;
}

.activ {
  opacity: 1;
  transition: all var(--animation-duration) ease-in-out;
}

.progessContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-7);
}

.progessItem {
  height: 3.2rem;
  width: 3.2rem;

  border-radius: 100%;

  background-color: var(--color-prime-light);
  transition: all var(--animation-duration) ease-in-out;
}

.progessBar {
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progessBarItem {
  height: 100%;
  width: 100%;
  background-color: var(--color-prime-light);

  transition: all var(--animation-duration) ease-in-out;
}

.progessActiv {
  background-color: var(--color-prime);
  transition: all var(--animation-duration) ease-in-out;
}
